* {
  box-sizing: border-box;
}

:root {
  --background-color: #0b0b0e;
  --text-color: #ffffff;

  --gamba-ui-border-radius: 10px;

  --gamba-ui-button-default-background: #0e0e16;
  --gamba-ui-button-default-background-hover: #11111d;
  --gamba-ui-button-default-color: white;

  --gamba-ui-button-main-background: #8851ff;
  --gamba-ui-button-main-background-hover: #9564ff;

  --gamba-ui-input-background: #0e0e16;
  --gamba-ui-input-color: #ffffff;
  --gamba-ui-input-background-hover: #11111d;
}

body, input, button, textarea, pre {
  font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1, h2 {
  margin: 0;
}

.cvmhTS,
.chmyoW,
.fwNcZC,
.grXzsX,
.izjgxW,
.jxmaFw,
.lnzDuI,
.bgojrM,
.dSJtLp,
.ERdVd,
.bgwtxf,
.btzsrT,
.fpLgBV,
.ihcxnh {
  background: #03FFA4 !important;
}


.fDaMhj{
  background: linear-gradient(-45deg, #ffb07c, #ff3e88, #2969ff, #ef3cff, #ff3c87) !important;
}
body {
  background-image: url('../public/brrrr.png') !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
  color: var(--text-color);
  cursor: default;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;

}

@media only screen and (max-width: 768px) {
  body {
    background-image: url('../public/brrr2.png') !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: #9564ff;
}

.wallet-adapter-button.wallet-adapter-button-trigger {
  height: 40px;
  line-height: 40px;
  font-weight: normal;
  background: rgb(55, 57, 82);
  border-radius: 10px;
}
